absl-py==0.15.0
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.3.1
apptools==5.2.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
auditwheel==5.3.0
awscli==1.27.118
backcall==0.2.0
boto3==1.26.118
botocore==1.29.118
cachetools==5.2.0
charset-normalizer==2.1.1
clang==5.0
click==8.1.3
colorama==0.4.4
coloredlogs==15.0.1
comm==0.1.2
ConfigArgParse==1.5.3
configobj==5.0.6
contourpy==1.0.6
cycler==0.11.0
Cython==0.29.20
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.4
decorator==5.1.1
Deprecated==1.2.13
distro==1.8.0
docutils==0.16
environs==9.5.0
envisage==6.1.0
executing==1.2.0
fastjsonschema==2.16.2
Flask==2.2.2
flatbuffers==1.12
fonttools==4.38.0
frozenlist==1.3.3
gast==0.4.0
glumpy @ git+https://github.com/glumpy/glumpy.git@46a7635c08d3a200478397edbe0371a6c59cd9d7
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.1.0
humanfriendly==10.0
humanize==4.6.0
icecream==2.1.3
idna==3.4
imageio==2.22.4
imageio-ffmpeg==0.4.7
imagesize==1.4.1
imgui==1.4.1
importlib-resources==5.10.1
imutils==0.5.4
ipykernel==6.19.2
ipython==8.7.0
ipywidgets==8.0.3
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyterlab-widgets==3.0.4
keras==2.12.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.19.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
multidict==6.0.3
multiprocessing-logging==0.3.4
nbformat==5.5.0
nest-asyncio==1.5.6
networkx==3.0
ninja==1.11.1
numpy==1.20.3
oauthlib==3.2.2
open3d==0.16.0
opencv-contrib-python==4.7.0.72
opencv-python==4.5.4.60
opt-einsum==3.3.0
packaging==22.0
pandas==1.5.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
plotly==5.11.0
plyfile==0.7.4
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyelftools==0.29
pyface==7.4.3
pygame==2.1.2
Pygments==2.13.0
pynvml==11.4.1
PyOpenGL==3.1.6
pyparsing==3.0.9
pyquaternion==0.9.9
pyrsistent==0.19.2
python-dateutil==2.8.2
python-dotenv==1.0.0
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==24.0.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.7.2
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.10.1
seaborn==0.12.1
six==1.15.0
stack-data==0.6.2
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-estimator==2.12.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2022.10.10
tinyobjloader @ git+https://github.com/tinyobjloader/tinyobjloader.git@94d2f7fe1f7742818dbcd0917d11679d055a33de#subdirectory=python
tornado==6.2
traitlets==5.7.0
traits==6.4.1
traitsui==7.4.2
transforms3d==0.4.1
triangle==20220202
typing-extensions==3.7.4.3
urllib3==1.26.15
vedo==2022.4.1
vtk==9.2.2
waymo-open-dataset-tf-2-6-0==1.4.9
wcwidth==0.2.5
Werkzeug==2.2.2
widgetsnbextension==4.0.4
wrapt==1.12.1
wslink==1.9.2
yarl==1.8.2
zipp==3.11.0
